user/*
tags
genTags.sh
workbench.xmi
# ignore these files from git scm

# general ignored files
*~
.vscode
.project
.buildpath
.settings/*
*.swp
.DS_Store
.idea/*
Thumbs.db
lib/WURFL/resources/storage/*

# project specific files to ignore
logs/*
target/*
*.diff
